html {
  box-sizing: border-box;
  background-color: var(--bluedarken70);
  background-image: linear-gradient(147deg, var(--bluedarken70) 0%, #04619f 74%);
}

*{
  font-family: 'Colossalis';
  padding: 0;
  margin: 0;
  user-select: none;
  caret-color: transparent;
}

body, .fullScreen{
  width: 100%;
  min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Colossalis';
  src: url('/fonts/Colossalis Regular/Colossalis Regular.otf');
}

/* https://maketintsandshades.com/#005EB8 */
:root{
  --blueroot: #005eb8;
  --bluelighten90: #e6eff8;
  --bluelighten30: #4d8ecd;
  --bluelighten50: #80afdc;
  --bluelighten60: #99bfe3;
  --bluelighten70: #b3cfea;
  --bluedarken70: #001c37;
  --bluedarken60: #00264a;
  --bluedarken40: #00386e;
  --grayshadow: #555;
  --red: #7B1F4B;
  --gold: #DBA632;
}
